body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #92e0c2;
    color: rgb(255, 255, 255);
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

#contact, #projects {
    border-bottom: 1px solid #000000;
}

.project {
    margin: 2em 0;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}